.form-control {
	width: 92% !important;
	height: 38px !important;
	overflow-y: hidden;
	margin-right: 10px;
	float: left;
}

.btn {
	float: right;
}

.receivedBubble {
	position: relative;
	left: 20px;
	width: 80%;
	padding: 10px;
	background: #c5d6de;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
}

.receivedBubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #c5d6de;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 25%;
	float: left;
}

.sentBubble {
	position: relative;
	right: 15px;
	width: 80%;
	padding: 10px;
	background: #dee8ed;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: right;
}

.sentBubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #dee8ed;
	display: block;
	width: 0;
	z-index: 1;
	right: -15px;
	top: 25%;
	float: right;
}

.bubble {
	margin: 5px;	
}

#tab1_left, #tab2_left {
	width: 20%;
	/* height: 100%; */
	float: left;
}
	
#tab1_right, #tab2_right {
	width: 80%;
	height: 520px;
	float: right;
}

#tab1_right_top {
	overflow-y: auto;
	width: 100%;
	height: 80%;
}

#tab1_right_bottom {
	width: 100%;
	height: 20%;
	float: bottom;
}

.profileImg img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    /* display:inline-block; */
}
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
	border-left: #c5d6de solid 1px;
	border-right: #c5d6de solid 1px;
	border-top: #c5d6de solid 1px;
	border-radius:3px 3px 0px 0px;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#46c35f;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#a5daaf;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
	height: 500px;
	padding:15px;
	border-radius: 3px;
	box-shadow:0px 0px 15px rgba(0,0,0,0.15);
	background:#fff;
}

.tab {
	display:none;
}

/* 활성화 중인 탭 div */
.tab.active {
	display:block;
}