<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.test.goal.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="com.test.goal.vo.MyFriendVO" alias="MyFriendVO"/>
		<typeAlias type="com.test.goal.vo.MidGoalVO" alias="MidGoalVO"/>
		<typeAlias type="com.test.goal.vo.MemberRecord" alias="MemberRecord"/>
		<typeAlias type="com.test.goal.vo.InsertDayRecord" alias="InsertDayRecord"/>
		<typeAlias type="com.test.goal.vo.FindMemberColor" alias="FindMemberColor"/>
		<typeAlias type="com.test.goal.vo.DayRecordVO" alias="DayRecordVO"/>
		<typeAlias type="com.test.goal.vo.CalendarVO" alias="CalendarVO"/>
		<typeAlias type="com.test.goal.vo.BTMSectionVO" alias="BTMSectionVO"/>
		<typeAlias type="com.test.goal.vo.BTMRecordVO" alias="BTMRecordVO"/>
		<typeAlias type="com.test.goal.vo.BTMGoalVO" alias="BTMGoalVO"/>
		<typeAlias type="com.test.goal.vo.MessageVO" alias="MessageVO" />
		<typeAlias type="com.test.goal.vo.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.test.goal.vo.TopGoalVO" alias="TopGoalVO"/>
		<typeAlias type="com.test.goal.vo.MainProgressVO" alias="MainProgressVO"/>
		<typeAlias type="com.test.goal.vo.DayPlanVO" alias="DayPlanVO"/>
		<typeAlias type="com.test.goal.vo.MemberListVO" alias="MemberListVO"/>
		<typeAlias type="com.test.goal.vo.FindHostVO" alias="FindHostVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/goalTreeMapper.xml" />
		<mapper resource="mapper/messageMapper.xml" />
		<mapper resource="mapper/friendMapper.xml"/>
		<mapper resource="mapper/calendarMapper.xml"/>
		<mapper resource="mapper/boardMapper.xml"/>
		<mapper resource="mapper/mindMapMapper.xml"/>
		<mapper resource="mapper/createGoalMapper.xml"/>
		<mapper resource="mapper/homeMapper.xml"/>
	</mappers>
</configuration>
