@CHARSET "UTF-8";

/* 마방진 전체 크기 및 위치 지정 */
.squares {
	width: 540px;
	height: 540px;
	position: relative;
	top: 200px;
	left: 300px;
}

/* 방제 표시 */
#subject {
	position: absolute;
	top: 80px;
	left: 300px;
	width: 70%;
}

/* 각 마방진 버튼 크기 지정 */
.btn-group > input {
	height: 180px;
	width: 180px;
}

/* 최종목표 옵션 및 색상 지정 */
#topGoalBtn {
	background-color: #46AA46;
	color: black;
	white-space: normal;
}

/* modal창의 스크롤 지정 */
#dialog {
	position: relative;
	overflow-y: auto;
}

/* 에러표시를 할 div 지정 */
.card.mb-4 {
	position: absolute;
	top: 0%;
	left: 40%;
	display: none;
	width: 350px;
	z-index: 1100;
}

/* 입장한 유저, 초대, 진행상황 */
aside {
	position: absolute;
	top: 150px;
	left: 1000px;
}

/* 레디, 시작, 나가기 */
footer {
	position: absolute;
	top: 710px;
	left: 1000px;
}

/* modal in colorpicker 지정 */
.box-typical.box-typical-padding {
	z-index: 1100;
	overflow-y: visible;
}

/* 각 색상이 부여된 div */
.color-row1 > div, .color-row2 > div {
	display: inline-block;
	width: 50px;
	height: 20px;
}

/* 색상 선택창의 각 색상 지정 */
#color_lightgray {
	background-color: #D3D3D3;
}

#color_red {
	background-color: #FF0000;
}

#color_orange {
	background-color: #FFA500;
}

#color_green {
	background-color: #00FF00;
}

#color_purple {
	background-color: #A020F0;
}

#color_pink {
	background-color: #FFC0CB;
}

#color_gold {
	background-color: #FFD700;
}

#color_aquamarine {
	background-color: #7FFFD4;
}

#color_blue {
	background-color: #0000FF;
}

#color_skyblue {
	background-color: #87CEEB;
}

/* 사용자가 선택한 색상을 확인시켜주는 div */
.color-result {
	display: inline-block;
	position: absolute;
	width: 200px;
	height: 200px;
	left: 50px;
}

/* 사용자가 지정한 색을 ID 옆에 표시 */
.pickcolor {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/* 친구목록 table 내에 선 긋기 */
tr.bordered {
	border-bottom: 1pt solid #000;
}

/* 초대할 사람의 체크박스 */
.checkList {
	text-align: center;
}

/* 유저 입장불가 칸에 대한 이미지 크기 조정 */
.empty-user {
	width: 292px;
	height: 64px;
}

/* 배경 이미지 */
#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('/goal/resources/img/artboard.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	opacity: 0.5;
	filter:alpha(opacity=70);
}

/* 초대, 색상선택, 준비, 시작, 나가기 버튼 */
#invitation, #selectcolor, #readyBtn, #startBtn, #exitBtn {
	width: 250px;
}