<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.goal.dao.BoardMapper">
	
	<!-- 게시글 목록 -->
	<select id="boardList" parameterType="TopGoalVO" resultType="TopGoalVO">
		select t.tGoalTitle, t.tStartDate, t.tEndDate, t.openStatus, t.userid, m.maxMember
		from TopGoal t, MainProgress m, board b
		where t.progressNum = m.progressNum and board b
		order by t.tGoalTitle;
	</select>
</mapper>