<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.goal.dao.BoardMapper">
	
	<!-- 게시글 목록 -->
	<select id="boardList" resultType="BoardVO">
		select b.userid as "userid",b.favorite as "favorite", t.tstartDate as "startDate", t.tendDate as "endDate", t.openStatus as "openStatus", l.currentMemberNumber as "currentMemberNumber", t.tGoalTitle as "tGoalTitle"
		from board b inner join topGoal t
		on b.tGoalNum = t.tGoalnum inner join mainProgress m
		on t.progressNum = m.progressNum inner join (select progressNum, count(listNum) as currentMemberNumber from memberList group by progressNum) l
		on m.progressNum = l.progressNum
		
	</select>
	
	<!-- 게시글 좋아요 -->
	<update id="favorite" parameterType="int">
		update board set favorite = favorite + 1 where boardnum = #{boardnum}	
	</update>
	
	<!-- 게시글 검색 -->
	<select id="searchBoard" parameterType="map" resultType="BoardVO">
		select * from Board
			<if test="searchSelect == 'id'">
				where userid like '%'||#{searchKeyid}||'%'
			</if>
			<if test="searchSelect == 'title'">
				where tGoalTitle like '%'||#{searchKeyid}||'%'
			</if>
		order by favorite desc;
	</select>
	
</mapper>