<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.goal.dao.CalendarMapper">

	<select id = "getRecordList" parameterType="string" resultType="BTMRecordVO">
		select b.BGoalTitle as "BGoalTitle",to_char(r.startDate,'yyyy-mm-dd') as "startDate", 
		to_char(r.endDate+1,'yyyy-mm-dd') as "endDate", d.completeTime as "isComplete",m.mGoalTitle as mGoalTitle, r.bRecordNum as "bRecordNum" 
		from BTMGoal b inner join BTMRecord r 
		on b.bGoalNum = r.bGoalNum 
		full join (select btmRecordNum,count(completeTime) as completeTime from dayRecord group by btmRecordNum) d
		on r.BRecordNum = d.BTMRecordNum
		inner join MidGoal m on b.mGoalNum = m.mGoalNum
		where r.memberId = #{userid}
		order by r.startDate desc
	</select>
	
	<select id ="getIsProcessingRecord" parameterType="string" resultType="BTMRecordVO">
		select b.BGoalTitle as "bGoalTitle",to_char(r.startDate,'yyyy-mm-dd') as "startDate", to_char(r.endDate+1,'yyyy-mm-dd') as "endDate", d.achieve as "achievePercent",m.mGoalTitle as mGoalTitle
		from BTMGoal b inner join (select startDate,endDate,bGoalNum,BRecordNum,memberId from BTMRecord where sysdate &gt;= startDate and sysdate &lt;= endDate) r 
		on b.bGoalNum = r.bGoalNum 
		full join (select btmRecordNum,sum(achieve) as achieve from dayRecord group by btmRecordNum) d
		on r.BRecordNum = d.BTMRecordNum
		inner join MidGoal m on b.mGoalNum = m.mGoalNum
		where r.memberId = #{memberId} 
		order by r.startDate desc
	</select>
	
	<select id = "getChartRecord" parameterType="int" resultType="DayRecordVO">
		
		select to_char(startDate,'yyyy-mm-dd') as "startDate", achieve from DayRecord where BTMRecordNum = #{BTMRecordNum}
		
	</select>
	
	<select id = "getDayRecordList" parameterType="string" resultType="DayPlanVO">
		
		select p.dcontents as "dContents",to_char(p.startTime,'yyyy-mm-dd-hh24-mi') as "startTime",to_char(p.startTime,'yyyy-mm-dd hh24-mi') as "schedulePlanStart",
		to_char(p.endTime,'yyyy-mm-dd-hh24-mi') as "endTime",to_char(p.endTime,'yyyy-mm-dd hh24-mi') as "schedulePlanEnd",p.dayPlanNum as "dayPlanNum", 
		b.bRecordNum as "btmRecordNum", to_char(d.startDate,'yyyy-mm-dd') as "startDate",
		b.startDate as "BTMstartDate", b.endDate as "BTMendDate", d.DayRecordNum as "dayRecordNum" 
		from DayPlan p inner join (select DayRecordNum,btmRecordNum, startDate from DayRecord) d 
		on d.DayRecordNum = p.DayRecordNum
		inner join (select bRecordNum,to_char(startDate,'yyyy-mm-dd') as startDate, to_char(endDate,'yyyy-mm-dd')
		 as endDate from BTMRecord where memberId = #{userid}) b
		on d.btmRecordNum = b.bRecordNum
		
	</select>
	
	<select id = "getNomalPlanlist" parameterType="string" resultType="DayPlanVO">
	
		select p.dcontents as "dContents", to_char(p.startTime,'yyyy-mm-dd-hh24-mi') as "startTime", to_char(p.startTime,'yyyy-mm-dd hh24-mi') as "schedulePlanStart",
		to_char(p.endTime,'yyyy-mm-dd-hh24-mi') as "endTime",to_char(p.endTime,'yyyy-mm-dd hh24-mi') as "schedulePlanEnd", p.dayPlanNum as "dayPlanNum",
		to_char(p.startTime,'yyyy-mm-dd') as "startDate",
		to_char(p.endTime,'yyyy-mm-dd') as "endDate", d.DayRecordNum as "dayRecordNum"
		from DayPlan p inner join DayRecord d 
		on p.DayRecordNum = d.DayRecordNum inner join BTMRecord b
		on b.bRecordNum = d.btmRecordNum inner join (select memberId from calendar where calendarNum = 7) c 
		on c.memberId = #{userid}
		where b.bRecordNum = 1
		
	</select>
	
	<select id = "getAchieve" parameterType="int" resultType="int">
		
		select sum(achieve) from DayRecord where BTMRecordNum = #{btmRecordNum} group by BTMRecordNum
		
	</select>
	
	<select id = "deleteDayPlan" parameterType="int">
	
		delete from dayPlan where DayPlanNum = #{dayPlanNum} 
	
	</select>
	
	<update id="updateDayPlan" parameterType="DayPlanVO">
		
		update DayPlan set 
		dContents = #{dContents}, startTime = to_date(#{startTime},'yyyy/mm/dd hh24:mi'), 
		endTime = to_date(#{endTime},'yyyy/mm/dd hh24:mi') WHERE dayPlanNum = #{dayPlanNum}

	</update>
	
	<select id = "getDayPlanNumSequence" resultType="int">
	
		select DAYPlAN_SEQ.NEXTVAL from dual
	
	</select>
	
	<select id = "getDayRecordNum" resultType="int">
	
		select DAYRECORD_SEQ.NEXTVAL from dual
	
	</select>
	
	<insert id = "insertDayPlan" parameterType="DayPlanVO">
		
		insert into DayPlan values(#{dayPlanNum},
		to_date(#{startTime},'yyyy/mm/dd hh24:mi'),to_date(#{endTime},'yyyy/mm/dd hh24:mi'),#{dContents},'Y',#{dayRecordNum})
		
	</insert>
	
	<select id = "findDayRecordNum" parameterType="DayPlanVO" resultType="int">
		
		select r.dayRecordNum from DayRecord r inner join calendar c 
		on c.calendarNum = r.calendarNum inner join member m 
		on c.memberId = m.userId
		where to_char(r.startDate,'yyyy/mm/dd') = #{startDate} and m.userid = #{userId}
		
	</select>
	
	<insert id = "exInsertToDayRecord" parameterType="DayPlanVO">
		
		insert into DayRecord values(#{dayRecordNum},0,'',to_date(#{startDate},'yyyy/mm/dd'),'','Y',1,1)
		
	</insert>
	
	<insert id = "exInsertDayRecord" parameterType="DayPlanVO">
		
		insert into DayRecord values(#{dayRecordNum},0,'',to_date(#{startDate},'yyyy/mm/dd'),'','N',1,1)
		
	</insert>
	
	<select id = "getAchieved" parameterType="DayRecordVO" resultType="int">
	
		select d.achieve as achieve
		from (select bRecordNum from btmRecord where memberid = #{userId} and to_date(#{startDate},'yyyy/mm/dd') &gt;= to_date(to_char(startDate,'yyyy/mm/dd'),'yyyy/mm/dd')
		and to_date(#{startDate},'yyyy/mm/dd') &lt;= to_date(to_char(endDate,'yyyy/mm/dd'),'yyyy/mm/dd')) b
		inner join (select sum(achieve) as achieve,BTMRecordNum from dayRecord group by BTMRecordNum) d
		on b.bRecordNum = d.BTMRecordNum
	
	</select>
	
	<select id = "checkBTMRecord" parameterType="DayRecordVO" resultType="int">
	
	select count(bRecordNum) from btmRecord
		where to_date(to_char(sysdate,'yyyy/mm/dd'),'yyyy/mm/dd') &gt;= to_date(to_char(startDate,'yyyy/mm/dd'),'yyyy/mm/dd')
		and to_date(to_char(sysdate,'yyyy/mm/dd'),'yyyy/mm/dd') &lt;= to_date(to_char(endDate,'yyyy/mm/dd'),'yyyy/mm/dd') and memberId = #{userId}
	
	</select>
	
	<select id = "isProgressing" parameterType="DayRecordVO" resultType="int">
	
	
		select bRecordNum from btmRecord 
		where to_date(#{startDate},'yyyy/mm/dd') &gt;= to_date(to_char(startDate,'yyyy/mm/dd'),'yyyy/mm/dd') and 
		to_date(#{startDate},'yyyy/mm/dd') &lt;= to_date(to_char(endDate,'yyyy/mm/dd'),'yyyy/mm/dd') and memberId = #{userId}
	
	</select>
	
	<update id = "updateDayRecord" parameterType= "DayRecordVO">
		update DayRecord set achieve = #{achieve} where btmRecordNum = #{btmRecordNum} 
		and to_date(to_char(startDate,'yyyy/mm/dd'),'yyyy/mm/dd') = to_date(#{startDate},'yyyy/mm/dd')
	</update>
	
	<update id = "completeUpdateDayRecord" parameterType= "DayRecordVO">
		update DayRecord set achieve = #{achieve}, completeTime = to_date(to_char(sysdate,'yyyy/mm/dd hh24:mi'),'yyyy/mm/dd hh24:mi')
		where btmRecordNum = #{btmRecordNum} and to_date(to_char(startDate,'yyyy/mm/dd'),'yyyy/mm/dd') = to_date(#{startDate},'yyyy/mm/dd')
	</update>
	
	
	<select id = "getDayAchieve" parameterType="DayRecordVO" resultType="int">
	
		select achieve from 
		DayRecord d inner join calendar c
		on d.calendarNum = c.calendarNum inner join member m
		on c.memberid = m.userid 
		where to_date(to_char(d.startDate,'yyyy/mm/dd'),'yyyy/mm/dd') = to_date(#{startDate},'yyyy/mm/dd') and m.userid = #{userId}
	
	</select>
	
	<select id = "getBTMRecord" parameterType="DayRecordVO" resultType="int">
		
		select d.btmRecordNum as "btmRecordNum" from DayRecord d inner join btmRecord b 
		on d.btmRecordNum = b.bRecordNum inner join member m
		on b.memberId = m.userId
		where to_date(to_char(d.startDate,'yyyy/mm/dd'),'yyyy/mm/dd') = #{startDate} and m.userId = #{userId}
		
	</select>
	
	<update id = "updateBTMGoalComplete" parameterType="DayRecordVO">
	
		update BTMGoal set BCLEAR = 'Y' where BGoalNum = (select bGoalNum from BTMRecord where bRecordNum = #{btmRecordNum})
	
	</update>
	
	<select id = "getTotalBTMRecordAmount" parameterType="DayRecordVO" resultType="int">
	
		select count(bGoalNum) as "totalNum" from BTMGoal 
		where mGoalNum = (select mGoalNum from BTMGoal where bGoalNum = (select bGoalNum from BTMRecord where BRecordNum = #{btmRecordNum}))
	
	</select>
	
	<select id="getSuccessBTMRecordAmount" parameterType="DayRecordVO" resultType="int">
	
		select count(bGoalNum) as "ClearNum" from BTMGoal 
		where mGoalNum = (select mGoalNum from BTMGoal 
		where bGoalNum = (select bGoalNum from BTMRecord where BRecordNum = #{btmRecordNum})) and BClear = 'Y'
	
	</select>
	
	<update id = "updateMIDGoalComplete" parameterType="DayRecordVO">
	
		update MIDGoal set MClear = 'Y'where mGoalNum = (select mGoalNum from BTMGoal 
		where bGoalNum = (select bGoalNum from BTMRecord where BRecordNum = #{btmRecordNum}))
	
	</update>
	
	<select id = "getSuccessMIDRecordAmount" parameterType="DayRecordVO" resultType="int">
	
		select count(mGoalNum) from MidGoal where tGoalNum = (select tGoalNum from MidGoal 
		where mGoalNum = (select mGoalNum from BTMGoal where bGoalNum = (select bGoalNum from BTMRecord where BRecordNum = #{btmRecordNum}))) and MClear = 'Y'
	
	</select>
	
	<update id = "updateTopGoalComplete" parameterType="DayRecordVO">
	
		update TopGoal set tClear = 'Y' where tGoalNum = (select tGoalNum from MidGoal
		where mGoalNum = (select mGoalNum from BTMGoal where bGoalNum = (select bGoalNum from BTMRecord where BRecordNum = #{btmRecordNum})))
	
	</update>
	
	
</mapper>