<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.goal.dao.CalendarMapper">

	<select id = "getRecordList" parameterType="string" resultType="BTMRecordVO">
		select b.BGoalTitle as "BGoalTitle",to_char(r.startDate,'yyyy-mm-dd') as "startDate", 
		to_char(r.endDate+1,'yyyy-mm-dd') as "endDate", d.completeTime as "isComplete",m.mGoalTitle as mGoalTitle, r.bRecordNum as "bRecordNum" 
		from BTMGoal b inner join BTMRecord r 
		on b.bGoalNum = r.bGoalNum 
		full join (select btmRecordNum,count(completeTime) as completeTime from dayRecord group by btmRecordNum) d
		on r.BRecordNum = d.BTMRecordNum
		inner join MidGoal m on b.mGoalNum = m.mGoalNum
		where r.memberId = #{userid}
		order by r.startDate desc
	</select>
	
	<select id ="getIsProcessingRecord" parameterType="string" resultType="BTMRecordVO">
		select b.BGoalTitle as "bGoalTitle",to_char(r.startDate,'yyyy-mm-dd') as "startDate", to_char(r.endDate+1,'yyyy-mm-dd') as "endDate", d.achieve as "achievePercent",m.mGoalTitle as mGoalTitle
		from BTMGoal b inner join (select startDate,endDate,bGoalNum,BRecordNum,memberId from BTMRecord where sysdate &gt;= startDate and sysdate &lt;= endDate) r 
		on b.bGoalNum = r.bGoalNum 
		full join (select btmRecordNum,sum(achieve) as achieve from dayRecord group by btmRecordNum) d
		on r.BRecordNum = d.BTMRecordNum
		inner join MidGoal m on b.mGoalNum = m.mGoalNum
		where r.memberId = #{memberId} 
		order by r.startDate desc
	</select>
	
	<select id = "getChartRecord" parameterType="int" resultType="DayRecordVO">
		
		select to_char(startDate,'yyyy-mm-dd') as "startDate", achieve from DayRecord where BTMRecordNum = #{BTMRecordNum}
		
	</select>
	
	<select id = "getDayRecordList" parameterType="string" resultType="DayPlanVO">
		
		select p.dcontents as "dContents",to_char(p.startTime,'yyyy-mm-dd-hh24-mi') as "startTime",
		to_char(p.endTime,'yyyy-mm-dd-hh24-mi') as "endTime",p.dayPlanNum as "dayPlanNum", 
		b.bRecordNum as "btmRecordNum", to_char(d.startDate,'yyyy-mm-dd') as "startDate",
		b.startDate as "BTMstartDate", b.endDate as "BTMendDate", d.DayRecordNum as "dayRecordNum" 
		from DayPlan p inner join (select DayRecordNum,btmRecordNum, startDate from DayRecord) d 
		on d.DayRecordNum = p.DayRecordNum
		inner join (select bRecordNum,to_char(startDate,'yyyy-mm-dd') as startDate, to_char(endDate,'yyyy-mm-dd')
		 as endDate from BTMRecord where memberId = #{userid}) b
		on d.btmRecordNum = b.bRecordNum
		
	</select>
	
	<select id = "getNomalPlanlist" parameterType="string" resultType="DayPlanVO">
	
		select p.dcontents as "dContents", to_char(p.startTime,'yyyy-mm-dd-hh24-mi') as "startTime",
		to_char(p.endTime,'yyyy-mm-dd-hh24-mi') as "endTime", p.dayPlanNum as "dayPlanNum",
		to_char(p.startTime,'yyyy-mm-dd') as "startDate",
		to_char(p.endTime,'yyyy-mm-dd') as "endDate", d.DayRecordNum as "dayRecordNum"
		from DayPlan p inner join DayRecord d 
		on p.DayRecordNum = d.DayRecordNum inner join BTMRecord b
		on b.bRecordNum = d.btmRecordNum inner join (select memberId from calendar where calendarNum = 7) c 
		on c.memberId = #{userid}
		where b.bRecordNum = 1
		
	</select>
	
	<select id = "getAchieve" parameterType="int" resultType="int">
		
		select sum(achieve) from DayRecord where BTMRecordNum = #{btmRecordNum} group by BTMRecordNum
		
	</select>
	
	<select id = "deleteDayPlan" parameterType="int">
	
		delete from dayPlan where DayPlanNum = #{dayPlanNum} 
	
	</select>
	
	<update id="updateDayPlan" parameterType="DayPlanVO">
		
		update DayPlan set 
		dContents = #{dContents}, startTime = to_date(#{startTime},'yyyy/mm/dd hh24:mi'), 
		endTime = to_date(#{endTime},'yyyy/mm/dd hh24:mi') WHERE dayPlanNum = #{dayPlanNum}

	</update>
	
	<select id = "getDayPlanNumSequence" resultType="int">
	
		select DAYRECORD_SEQ.NEXTVAL from dual
	
	</select>
	
	<select id = "getDayRecordNum" resultType="int">
	
		select DAYRECORD_SEQ.NEXTVAL from dual
	
	</select>
	
	<insert id = "insertDayPlan" parameterType="DayPlanVO">
		
		insert into DayPlan values(#{dayPlanNum},to_date(#{startTime},'yyyy/mm/dd hh24:mi'),to_date(#{endTime},'yyyy/mm/dd hh24:mi'),#{dContents},'Y',#{dayRecordNum})
		
	</insert>
	
	<insert id = "insertDayPlan1" parameterType="DayPlanVO">
		
		insert into DayPlan values(#{dayPlanNum},to_date(#{startTime},'yyyy/mm/dd hh24:mi'),to_date(#{endTime},'yyyy/mm/dd hh24:mi'),#{dContents},'Y',#{dayRecordNum})
		
	</insert>
	
	
	<select id = "findDayRecordNum" parameterType="DayPlanVO" resultType="int">
		
		select r.dayRecordNum from DayRecord r inner join calendar c 
		on c.calendarNum = r.calendarNum inner join member m 
		on c.memberId = m.userId
		where to_char(r.startDate,'yyyy/mm/dd') = #{startDate} and m.userid = #{userId}
		
	</select>
	
	<insert id = "exInsertToDayRecord" parameterType="DayPlanVO">
		
		insert into DayRecord values(#{dayRecordNum},0,'',to_date(#{startDate},'yyyy/mm/dd'),'','Y',1,1)
		
	</insert>
	
	<insert id = "exInsertDayRecord" parameterType="DayPlanVO">
		
		insert into DayRecord values(#{dayRecordNum},0,'',to_date(#{startDate},'yyyy/mm/dd'),'','N',1,1)
		
	</insert>
	

</mapper>