<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.goal.dao.CreateGoalMapper">
	
	<!-- 목표大 작성 -->
	<insert id="create1" parameterType="TopGoalVO">
		insert into TopGoal values (TOPGOAL_SEQ.NEXTVAL, #{tGoalTitle}, #{tStartDate}, #{tEndDate}, 'N', 'N', #{openStatus}, #{userid}, #{progressNum}, #{calendarNum})	
	</insert>
	<insert id="create2" parameterType="MainProgressVO">
		insert into MainProgress values (MAINPROGRESS_SEQ.NEXTVAL, #{type}, 'N', #{maxMember})
	</insert>
	
	
	
	
	
	
	
	
	<select id="findIdinModal" parameterType="string" resultType="MemberVO">
		SELECT userid FROM member WHERE userid LIKE '%'||#{keyWord}||'%'
	</select>
</mapper>