<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.goal.dao.CreateGoalMapper">
	
	<!-- 목표大 작성 -->
	<insert id="create1" parameterType="TopGoalVO">
		insert into TopGoal values (TOPGOAL_SEQ.NEXTVAL, #{tGoalTitle}, #{tStartDate}, #{tEndDate}, #{tClear}, #{tStartStatus}, #{openStatus}, #{userid}, #{progressNum})	
	</insert>
	
	<!-- 가장 최신의 목표大 번호를 가져온다 -->
	<select id="getTgoalNum" resultType="TopGoalVO">
		SELECT * FROM TOPGOAL WHERE TGOALNUM = 
			(SELECT MAX(TGOALNUM) FROM TOPGOAL)
	</select>
	
	<!-- 목표大작성 전 MainProgress 테이블에 사용자가 작성한 값을 입력한다. -->
	<insert id="create2" parameterType="MainProgressVO">
		insert into MainProgress (PROGRESSNUM, TYPE, MAXMEMBER) values (MAINPROGRESS_SEQ.NEXTVAL, #{type}, #{maxMember})
	</insert>
	
	<!-- 현재 progressNum의 데이터를 알기 위한 메서드 -->
	<select id="findProgressNum" resultType="MainProgressVO">
		SELECT * FROM MAINPROGRESS WHERE PROGRESSNUM =
			(SELECT MAX(PROGRESSNUM) FROM MAINPROGRESS)
	</select>
	
	<!-- 목표大작성 기능에서 작성했던 내용들을 이용하여 Board 테이블에 값을 입력한다. -->
	<insert id="writeBoard" parameterType="BoardVO">
		INSERT INTO BOARD(BOARDNUM, USERID, TGOALNUM) VALUES(BOARD_SEQ.NEXTVAL, #{userid}, #{tGoalNum})
	</insert>
	
	
	
	
	
	<!-- modal 창 안에서 사용자가 검색한 키워드를 이용해 ID를 찾는다 -->
	<select id="findIdinModal" parameterType="string" resultType="MemberVO">
		SELECT userid FROM member WHERE userid LIKE '%'||#{keyWord}||'%'
	</select>
	
	<!-- 현재 게시글의 정보를 받아온다. -->
	<select id="getBoardInfo" resultType="BoardVO">
		SELECT boardNum, b.userid, b.tGoalNum, t.tStartDate as startDate, t.tEndDate as endDate, tGoalTitle, m.maxmember
		FROM board b, topgoal t, mainprogress m
		WHERE t.tGoalNum = b.tGoalNum
		AND t.progressnum = m.progressnum
		AND boardNum = (
			SELECT MAX(boardNum) FROM board
		)
	</select>
	
	<!-- 초대받은 방의 정보를 받아온다. -->
	<select id="findThatGoal" parameterType="string" resultType="BoardVO">
		SELECT * FROM board
		WHERE boardnum = (
			SELECT MAX(boardnum) FROM board WHERE userid = #{senderId}
		)
	</select>
	
	<!-- 목표를 만든 사용자가 나가기 버튼을 클릭했을 경우 관련된 데이터를 삭제하기 위해 현 게시글의 정보를 받아온다. -->
	<select id="findCurrentBoard" parameterType="string" resultType="BoardVO">
		SELECT * FROM board
		WHERE boardnum = (
			SELECT MAX(boardnum) FROM board WHERE userid = #{id}
		)
	</select>
	
	<!-- 현재 최종목표에 대한 정보를 받아온다. -->
	<select id="findCurrentTgoal" parameterType="BoardVO" resultType="MainProgressVO">
		SELECT * FROM topgoal
		WHERE tgoalnum = (
			SELECT MAX(tgoalnum) FROM topgoal WHERE userid = #{userid}
		)
	</select>
	
	<!-- 생성중이던 목표 게시글 삭제 -->
	<delete id="deleteCurrentBoard" parameterType="string">
		DELETE FROM board
		WHERE userid = #{id}
		AND boardnum = (
			SELECT MAX(boardnum) FROM board WHERE userid = #{id}
		)
	</delete>
	
	<!-- 생성중이던 최종목표 삭제 -->
	<delete id="deleteCurrentTgoal" parameterType="BoardVO">
		DELETE FROM topgoal
		WHERE tgoalnum = #{tGoalNum}
	</delete>
	
	<!-- 생성중이던 MainProgress의 데이터 삭제 -->
	<delete id="deleteCurrentMainProgress" parameterType="TopGoalVO">
		DELETE FROM mainprogress
		WHERE progressnum = #{progressNum}
	</delete>
	
	<!-- 목표 생성시 MemberList 테이블에 데이터 추가  -->
	<insert id="createMemberList" parameterType="BoardVO">
		INSERT INTO MEMBERLIST(LISTNUM, READY, PLAYERTYPE, USERID, PROGRESSNUM)
		VALUES(MEMBERLIST_SEQ.NEXTVAL, 'Y', 'HOST', #{userid}, #{progressNum})
	</insert>
	
	<!-- 생성중이던 MemberList의 데이터 삭제 (Only HOST) -->
	<delete id="deleteCurrentMemberList" parameterType="string">
		DELETE FROM memberlist
		WHERE userid = #{id}
		AND listnum = (
			SELECT MAX(listnum) FROM memberlist
			WHERE userid = #{id}
		)
	</delete>
</mapper>