<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.goal.dao.FriendMapper">
	

	<!-- 친구목록 -->
	<select id="openFriend" parameterType="MyFriendVO" resultType="MyFriendVO">
		select * from Myfriend
	</select>                            
	
	<!-- 친구삭제 (내 입장) -->
	<delete id="deleteFriend1" parameterType="MyFriendVO">
		delete from Myfriend where userid = #{userid} and frdid = #{frdid}
	</delete>
	
	<!-- 친구삭제 (상대방 입장) -->
	<delete id="deleteFriend2" parameterType="MyFriendVO">
		delete from Myfriend where userid = #{frdid} and frdid = #{userid}
	</delete>
	
	<!-- 친구검색 -->
	<select id="searchFriend" parameterType="map" resultType="MemberVO">
		select * from Member where not userid = #{userid} and userid like '%'||#{searchKeyid}||'%'	
	</select>
	
	<!-- 친구여부 : null이 아닐 때 친구 추가 버튼 비활성화 -->
	<select id="isFriend" parameterType="string" resultType="MyFriendVO">
		select * from Myfriend
		where userid = #{0} and frdid = #{1}
	</select>
	
	<!-- 친구등록 -->
	<insert id="addFriend" parameterType="MyFriendVO">
		insert into Myfriend values(#{0}, #{1})
	</insert>
	
</mapper>