<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.goal.dao.GoalTreeMapper">
	
	<!-- 최상위 목표 불러오기 -->
	<select id="goalList" parameterType="map" resultType="TopGoalVO">
		select 
		tGoalNum, tGoalTitle,
		to_char(tStartDate, 'yyyy-mm-dd') as "tStartDate", to_char(tEndDate, 'yyyy-mm-dd') as "tEndDate",
		tClear, tStartStatus, openStatus, userid, progressNum, calendarNum
		from TOPGOAL where USERID = #{userid} 
		AND TO_CHAR(tStartDate, 'yyyy') = #{year}
	</select>
</mapper>