<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.goal.dao.GoalTreeMapper">
	
	<!-- 최상위 목표 불러오기 -->
	<select id="goalList" parameterType="string" resultType="GoalTreeVO">
		select USERID, TGOALNUM, TGOALTITLE, to_char(TSTARTDATE, 'yyyy') as TSTARTYEAR from TOPGOAL
		where USERID = #{0}
		<if test="tStartYear != null">
		and to_char(TSTARTDATE, 'yyyy') = #{1}
		</if>
		<if test="tStartYear == null">
		and to_char(TSTARTDATE, 'yyyy') = to_char(TSTARTDATE, sysdate)
		</if>
	</select>
</mapper>