<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.test.goal.dao.MemberMapper">
	<!-- Member 쿼리 작성자 = 윤선영 -->
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="MemberVO">
	<if test = "image!=null">
		insert into Member values (#{userid,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{tel1,jdbcType=VARCHAR}, #{tel2,jdbcType=VARCHAR}, #{tel3,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR})
	</if>
	<if test = "image==null">
		insert into Member values 
		(#{userid,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{tel1,jdbcType=VARCHAR}, #{tel2,jdbcType=VARCHAR}, #{tel3,jdbcType=VARCHAR},null)
	</if>	
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="MemberVO" resultType="MemberVO">
		select * from Member where userid = #{userid}
		<if test="password != null">and password = #{password}</if> <!-- 동적쿼리(중복확인) --> 
	</select>
	
	<!-- 회원정보수정 -->
	<update id="updateMember" parameterType="MemberVO">
		update Member set password = #{password}, email = #{email}, tel1 = #{tel1}, tel2 = #{tel2}, tel3 = #{tel3}, image = #{image}
			where userid = #{userid}
	</update>
	
	<!-- ID/PWD 찾기 -->
	<select id="find" parameterType="string" resultType="MemberVO">
		select * from Member where email = #{email}
	</select>
	
	<!-- 회원목록 -->
	<select id="memberList" parameterType="MemberVO" resultType="MemberVO">
		select * from Member where userid = #{userid}
	</select>
	
	<!-- ID, PWD 일치여부 -->
	<select id="idMatchUp" parameterType="MemberVO" resultType="MemberVO">
		select * from Member where userid = #{userid} and password = #{password}
	</select>
	
	<select id = "getTotalNum" parameterType="string" resultType="int">
		select count(tGoalNum) from topGoal where userid = #{userid}
	</select>
	
	<select id = "getClearNum" parameterType="string" resultType="int">
		select count(tGoalNum) from topGoal where userid = #{userid} and tclear = 'Y'
	</select>
	
	<select id = "getFailNum" parameterType="string" resultType="int">
		select count(tGoalNum) from topGoal where userid = #{userid} and tclear = 'N'
	</select>
	
	<select id = "getTopGoalList" parameterType="string" resultType="TopGoalVO">
		select tGoalTitle,tGoalNum from TopGoal where userid = #{userid} 
	</select>
	
	<select id = "getMGoalList" parameterType="int" resultType="MidGoalVO">
		select mGoalTitle,mGoalNum from MidGoal where tGoalNum = #{tGoalNum}
	</select>
	
	<select id = "getBTMGoalList" parameterType="int" resultType="BTMGoalVO">
		select b.bGoalTitle as "bGoalTitle",d.achieve as "achieve" from BTMGoal b inner join BTMRecord t 
		on b.bGoalNum = t.bGoalNum inner join (select sum(achieve) as achieve, btmRecordNum from dayRecord group by btmRecordNum) d 
		on t.bRecordNum = d.BTMRecordNum 
		where b.mGoalNum = #{mGoalNum}
	</select>
	
</mapper>